<div class="jumbotron" style="width:70%;margin: 0 auto;">
<h2>Terms and Condition</h2>
</div>
<br>
<!--the last term and condition will be pulled here-->
<div class="well" style="width:70%;margin: 0 auto;">
<p><%=@term.script%></p>
</div>
