<li class="list-group-item">

<h5><%=policy_sub_heding.sub_heading%></h5>
<p><%= link_to 'Edit', edit_policy_heding_policy_sub_heding_path(policy_sub_heding.policy_heding, policy_sub_heding) %>|<%= link_to 'Destroy', [policy_sub_heding.policy_heding, policy_sub_heding], :confirm => 'Are you sure?', :method => :delete %></p>

</li>
<hr>