<div style="width:88%;margin:0 auto;padding:2%;padding-left:5%;">
<h1>Editing policy_sub_heding</h1>

<%= render 'form' %>

<%= link_to 'Show', [@policy_sub_heding.policy_heding, @policy_sub_heding] %> |
<%= link_to 'Back', policy_heding_policy_sub_hedings_path(@policy_sub_heding.policy_heding) %>
</div>