<div style="width:88%;margin:0 auto;padding:2%;padding-left:5%;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Script:</strong>
  <%= @term_page.script %>
</p>

<%= link_to 'Edit', edit_term_page_path(@term_page) %> |
<%= link_to 'Back', term_pages_path %>
</div>