<div style="width:88%;margin:0 auto;padding:2%;padding-left:5%;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @corporate_trainer_heading.heading %>
</p>

<%= link_to 'Edit', edit_corporate_trainer_heading_path(@corporate_trainer_heading) %> |
<%= link_to 'Back', corporate_trainers_path %>
</div>