<nav>
				<ul>
					<li><a href="#about"><i class="fa fa-heart"></i>About</a></li>
					<li><a href="#features"><i class="fa fa-user"></i>Our Academicians</a></li>
				</ul>
				<ul>
					<li><a href="#screenshots" style="width:190px !important;padding-bottom:14px; !important;"><i class="fa fa-graduation-cap"></i>Placements and Industrial Mentorship</a></li>
					<li><a href="#download"><i class="fa fa-book"></i>Courses</a></li>
				</ul>
				<ul>
					<li><a href="#screenshots" style="padding-left:10px;padding-right:10px;width:190px !important;padding-bottom:33px; !important;"><i class="fa fa-file-text"></i>Free Capsule Classes</a></li>
					<li><a href="#download" style="width:190px !important;padding-bottom:14px; !important;"><i class="fa fa-link"></i>Our Corporate Partners and Testimonials</a></li>
				</ul>
				<ul>
					<li><a href="#screenshots"><i class="fa fa-rss-square"></i>Blog</a></li>
					<li><a href="#download"><i class="fa fa-phone-square"></i>Contact</a></li>
				</ul>
</nav>