<section style="background-color:#3f6184;margin-bottom:30px;" >
				
				<div class="container">
					<div class="row nav-wrapper">
						<div class="col-md-6 col-sm-6 col-xs-6 text-left">
							<a id="logo-img" href="<%=root_path%>"><img src="<%=asset_path 'logo.png'%>" width="270px" alt="providence-logo"></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon" style="margin-top:1.9%;">
							<p style="color:#fff;">MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
						</div>
					</div>
				
				</div>
</section>