.cbox{width:100%;height:500px;
	border:3px solid blue;
	transition:all 0.4s ease;
	margin-bottom: 7%;position: relative;



}

.cboxHeading{color: #fff;text-align:center;padding:14px;h1{font-family: 'Nunito',sans-serif;color:#fff;}
	p{
		color:#fff;font-family: 'Nunito',sans-serif;
	}
}
.cboxBody{font-family: 'Nunito',sans-serif;
	padding: 12px;color:#3C5460;
}

.even{border-color: #72cfd9;}

.odd{border-color: #E8837E;}

.todd{border-color: #3f6184;}

.dodd{border-color: #64B898;}

.color1{background-color: #72cfd9;}
.color2{background-color: #E8837E;}

.color3{background-color: #3f6184;}

.color4{background-color: #64B898;}

.cbox:hover{box-shadow: 4px 4px 10px #010101,-4px -4px 10px #010101;}

.smore{
	position: absolute;
	bottom: 6%;
	margin:0 auto;
	
	text-align: center;
	left:35%;
	transform:translate(0,-50%);
	a{
		font-family: 'Nunito',sans-serif;
		text-decoration: none;
		border-radius: 4px;
		border:2px;
		border-style: solid;

		padding: 20px;
		text-align: center;
	}
	a:hover{text-decoration: none;}
}

.sm1{border-color: #72cfd9;color:#72cfd9;transition:all 0.4s ease; background-color: #fff;}

.sm2{border-color: #E8837E;color:#E8837E;transition:all 0.4s ease; background-color: #fff;}

.sm3{border-color: #3f6184;color: #3f6184;transition:all 0.4s ease; background-color: #fff;}

.sm4{border-color: #64B898;color:#64B898;transition:all 0.4s ease; background-color: #fff;}

.sm1:hover{border-color: #72cfd9;color:#fff; background-color: #72cfd9;}

.sm2:hover{border-color: #E8837E;color:#fff; background-color: #E8837E;}

.sm3:hover{border-color: #3f6184;color: #fff;background-color: #3f6184; }

.sm4:hover{border-color: #64B898;color:#fff; background-color: #64B898;}